<ion-view>
  <ion-nav-title>
    Выбор города
  </ion-nav-title>
  <div ng-if="appData.cities.content.length > 0">
    <ion-content>
      <ion-list>
        <ion-item href="{{appData.cityHref}}" collection-repeat="city in appData.cities.content" ng-click="appData.setCity(city)" ng-class="zebraStripeLineItem($index)">
          <span>
            {{city.name}}
          </span>
          <span ng-class="{'ion-checkmark-round': appData.selectedCity.id === city.id}"></span>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
      <div class="title title-center">
        {{appData.title}}
      </div>
    </ion-footer-bar>
  </div>
</ion-view>
