<ion-view>
  <ion-nav-title>
    Выберите округ
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item href="#/app/main-menu" collection-repeat='district in appData.selectedCity.districts' ng-click="appData.setDistrict(district)" ng-class="zebraStripeLineItem($index)">
        {{district.name}}
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <div class="title">
      {{appData.title}}
    </div>
  </ion-footer-bar>
</ion-view>
