<ion-view>
  <ion-nav-title>
    Помощь на дороге
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item ng-href="tel: {{18062822399}}">
        Аварийные Комиссары
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Эвакуатор/Буксировка
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Полезная информация
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title title-center">
      {{appData.title}}
    </div>
  </ion-footer-bar>
</ion-view>
