<ion-view view-title="Отзывы и предложения">
  <ion-content>
    <form ng-submit="sendContact()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Имя</span>
          <input type="text" ng-model="contact.name" placeholder="Александр Иванов">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Электронный адрес</span>
          <input type="text" ng-model="contact.email" placeholder="alex@gmail.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Сообщение</span>
          <input type="text" ng-model="contact.message" placeholder="Текст сообщения">
        </label>
        <padding>
          <button class="button button-calm button-block">
            Отправить
          </button>
        </padding>
      </div>
    </form>
  </ion-content>
</ion-view>
