<ion-view>
  <ion-nav-title>
    Отзывы и предложения
  </ion-nav-title>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-stacked-label" style="margin: 0; padding: 0; border-left: none; border-right: none; border-top: none">
          <input style="padding-left: 5px" type="text" ng-model="appData.feedbackData.contact.name" placeholder="Имя">
        </label>
        <label class="item item-input item-stacked-label" style="margin: 0; padding: 0; border-left: none; border-right: none; border-top: none">
          <input style="padding-left: 5px" type="text" ng-model="appData.feedbackData.contact.email" placeholder="Электронный адрес">
        </label>
        <label class="item item-input item-stacked-label" style="height: 45vh; margin: 0; padding: 0; border: none">
          <div ng-if="isLowResolutionPhone()">
            <textarea style="padding-left: 5px" full-size ng-model="appData.feedbackData.contact.message" placeholder="Сообщение" rows="3"></textarea>
          </div>
          <div ng-if="!isLowResolutionPhone()">
            <textarea style="padding-left: 5px" full-size ng-model="appData.feedbackData.contact.message" placeholder="Сообщение" rows="5"></textarea>
          </div>
        </label>
      </div>
      <button class="button button-block button-dark bottom-form-button" ng-class="{ 'low-res-button': isLowResolutionPhone() }" style="left: 1%; z-index: 999;" onclick="window.history.go(-1); return false;">
        Oтменить
      </button>
      <button class="button button-block button-dark bottom-form-button" ng-class="{ 'low-res-button': isLowResolutionPhone() }" style="left: 51%; z-index: 999;" ng-click="appData.sendFeedback()">
        Отправить
      </button>
    </form>
  </ion-content>
</ion-view>
