<ion-view view-title="AutoGuru">
  <ion-content>
    <div class="homeContainer"></div>
      <div class="row row-home" >
        <a href="#/app/road-help" class="col col-home center" style="background-color: #C0362C; margin: 3px; border-radius: 7px;">
          <div class="" >
            <div class="button button-icon ion-wrench home-icon"></div>
            <div>
              <p class="home-icon-text">Помощь на дороге</p>
            </div>
         </div>
        </a>
        <div class="col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div><a href="#/app/dtp" class="button button-icon ion-merge home-icon"></a>
            <p class="home-icon-text">ДТП</p></a>
          </div>
        </div>
      </div>
      <div class="row row-home">
        <div class="col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div>
            <a href="#/app/auto-info" class="button button-icon ion-information home-icon"></a>
            <p class="home-icon-text">Автоинформатор</p>
          </div>
        </div>
        <div class="col col-home center" style="background-color: #C0362C; margin: 3px; border-radius: 7px;">
          <div><a href="#/app/profile" class="button button-icon ion-person home-icon"></a>
            <p class="home-icon-text">Мой автомобиль</p>
          </div>
        </div>
      </div>
      <div class="row row-home">
        <div class="col col-home center" style="background-color: #C0362C; margin: 3px; border-radius: 7px;">
        <div>
          <a href="#/app/taxi" class="button button-icon ion-android-car home-icon"></a>
          <p class="home-icon-text">Такси</p>
        </div>
      </div>
        <div class="col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
        <div><a href="#/app/maps" class="button button-icon ion-minus-circled home-icon"></a>
          <p class="home-icon-text">Пробки</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
