<ion-view view-title="AutoGuru">
  <ion-content>
    <div class="homeContainer"></div>
    <div class="row row-home">
      <div class="col col-home">
        <a href="" class="button button-icon">
          <i class="icon ion-ionic my-icon"></i>
        </a>
     </div>
      <div class="col col-home">
        <a href="" class="button button-icon">
          <i class="icon ion-ionic my-icon"></i>
        </a>
      </div>
    </div>
    <div class="row row-home">
      <div class="col col-home">
        <a href="" class="button button-icon">
          <i class="icon ion-ionic my-icon"></i>
        </a>
      </div>
      <div class="col col-home">
        <a href="" class="button button-icon">
          <i class="icon ion-ionic my-icon"></i>
        </a>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
