<ion-view view-title="AutoGuru">
  <ion-content>
    <div class="homeContainer"></div>
      <div class="row row-home" >
        <div class="col col-home center">
        <div>
          <a href="#/app/road-help" class="button button-icon ion-wrench home-icon">
            <p class="home-icon-text">Помощь на дороге</p>
          </a>
        </div>

       </div>
        <div class="col col-home center">
          <div><a href="" class="button button-icon ion-merge home-icon">
            <p class="home-icon-text">ДТП</p></a>
          </div>
        </div>
      </div>
      <div class="row row-home">
        <div class="col col-home center">
          <div>
            <a href="" class="button button-icon ion-information home-icon">
              <p class="home-icon-text">Автоинформатор</p></a>
          </div>
        </div>
        <div class="col col-home center">
          <div><a href="" class="button button-icon ion-model-s home-icon">
            <p class="home-icon-text">Мой автомобиль</p>
          </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
