<ion-view>
  <ion-nav-title>
    Главное меню
  </ion-nav-title>
  <ion-content>
    <div class="homeContainer"></div>
      <div class="row row-home" >
        <a href="#/app/road-help" class="button button-icon col col-home center" style="background-color: #17AA4F; margin: 3px; border-radius: 7px;">
          <div>
            <div class="ion-wrench home-icon"></div>
            <div>
              <p class="home-icon-text">Помощь на дороге</p>
            </div>
         </div>
        </a>
        <a href="#/app/dtp" class="button button-icon col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div>
            <div class="ion-merge home-icon"></div>
            <div>
              <p class="home-icon-text">ДТП</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row row-home">
        <a ng-href="tel: {{18062822399}}" class="button button-icon col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div>
            <div class="ion-android-car home-icon"></div>
            <div>
              <p class="home-icon-text">Такси</p>
            </div>
          </div>
        </a>
        <a href="#/app/maps" class="button button-icon col col-home center" style="background-color: #17AA4F; margin: 3px; border-radius: 7px;">
          <div>
            <div class="ion-minus-circled home-icon"></div>
            <div>
              <p class="home-icon-text">Пробки</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row row-home">
        <a href="#/app/feedback" class="button button-icon col col-home center" style="background-color: #17AA4F; margin: 3px; border-radius: 7px;">
          <div>
            <div class="ion-chatbox-working home-icon"></div>
            <div>
              <p class="home-icon-text">Отзывы и предложения</p>
            </div>
          </div>
        </a>
        <a href="#/app/share" class="button button-icon col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div>
            <div class="ion-person-stalker home-icon"></div>
            <div>
              <p class="home-icon-text">Поделиться с друзьями</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title title-center">
      {{appData.title}}
    </div>
  </ion-footer-bar>
</ion-view>
