<ion-view>
  <ion-nav-title>
    {{appData.title}}
  </ion-nav-title>
  <ion-content>
    <div class="homeContainer"></div>
      <div class="row row-home" >
        <a href="#/app/road-help" class="col col-home center" style="background-color: #C0362C; margin: 3px; border-radius: 7px;">
          <div>
            <div class="button button-icon ion-wrench home-icon"></div>
            <div>
              <p class="home-icon-text">Помощь на дороге</p>
            </div>
         </div>
        </a>
        <a href="#/app/dtp" class="col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div>
            <div class="button button-icon ion-merge home-icon"></div>
            <div>
              <p class="home-icon-text">ДТП</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row row-home">
        <a href="#/app/taxi" class="col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div>
            <div class="button button-icon ion-android-car home-icon"></div>
            <div>
              <p class="home-icon-text">Такси</p>
            </div>
          </div>
        </a>
        <a href="#/app/maps" class="col col-home center" style="background-color: #C0362C; margin: 3px; border-radius: 7px;">
          <div>
            <div class="button button-icon ion-minus-circled home-icon"></div>
            <div>
              <p class="home-icon-text">Пробки</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row row-home">
        <a href="#/app/feedback" class="col col-home center" style="background-color: #C0362C; margin: 3px; border-radius: 7px;">
          <div>
            <div class="button button-icon ion-chatbox-working home-icon"></div>
            <div>
              <p class="home-icon-text">Отзывы и предложения</p>
            </div>
          </div>
        </a>
        <a href="#/app/share" class="col col-home center" style="background-color: #656565; margin: 3px; border-radius: 7px;">
          <div>
            <div class="button button-icon ion-person-stalker home-icon"></div>
            <div>
              <p class="home-icon-text">Поделиться с друзьями</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
