<ion-view>
  <ion-nav-title>
    Главное меню
  </ion-nav-title>
  <ion-content class="main-menu-background">
    <div class="homeContainer"></div>
      <div class="row row-home" >
        <a href="#/app/road-help" class="button button-icon col col-home col-home-left center" style="background-color: #17AA4F;">
          <div>
              <svg class="icon-autoguru-road-help home-icon-ag"><use xlink:href="svg/home-icons.svg#icon-autoguru-road-help"></use></svg>
            <!--<div class="ion-wrench home-icon"></div>-->
            <div>
              <p class="home-icon-text">Помощь на дороге</p>
            </div>
         </div>
        </a>
        <a href="#/app/dtp" class="button button-icon col col-home col-home-right center" style="background-color: #656565;">
          <div>
            <svg class="home-icon-ag icon-autoguru-dtp"><use xlink:href="svg/home-icons.svg#icon-autoguru-dtp"></use></svg>
            <div>
              <p class="home-icon-text">ДТП</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row row-home">
        <a href="#/app/no-wheel" class="button button-icon col col-home col-home-left center" style="background-color: #656565;">
          <div>
            <svg class="icon-autoguru-no-wheel home-icon-ag"><use xlink:href="svg/home-icons.svg#icon-autoguru-no-wheel"></use></svg>
            <div>
              <p class="home-icon-text">Без руля</p>
            </div>
          </div>
        </a>
        <a href="#/app/maps" class="button button-icon col col-home col-home-right center" style="background-color: #17AA4F;">
          <div>
            <svg class="icon-autoguru-traffic home-icon-ag"><use xlink:href="svg/home-icons.svg#icon-autoguru-traffic"></use></svg>
            <div>
              <p class="home-icon-text">Пробки</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row row-home">
        <a href="#/app/feedback" class="button button-icon col col-home col-home-left center" style="background-color: #17AA4F;">
          <div>
            <svg class="icon-autoguru-feedback home-icon-ag"><use xlink:href="svg/home-icons.svg#icon-autoguru-feedback"></use></svg>
            <div>
              <p class="home-icon-text">Отзывы и предложения</p>
            </div>
          </div>
        </a>
        <a ng-click="socialShare()" class="button button-icon col col-home col-home-right center" style="background-color: #656565;">
          <div>
            <svg class="icon-autoguru-share home-icon-ag"><use xlink:href="svg/home-icons.svg#icon-autoguru-share"></use></svg>
            <div>
              <p class="home-icon-text">Поделиться с друзьями</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <a href="#/app/city">
    <div class="title title-center">
      {{appData.title}}
    </div>
  </a>
  </ion-footer-bar>
</ion-view>
