<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-assertive" >
      <ion-nav-back-button>
        <!--<i class="ion-arrow-left-c"></i>-->
      </ion-nav-back-button>
      <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <!--<ion-nav-title>
      <h1 class="title">Меню</h1>
    </ion-nav-title>-->
    <ion-header-bar class="bar-assertive">

      <h1 class="title">Меню</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-repeat="link in appData.sideMenuData.links" href="{{link.link}}" ng-class="zebraStripeLineItem($index)">
          {{link.label}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
