<ion-view view-title="Личный Кабинет">
  <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Имя</span>
          <input type="text" ng-model="contact.name" placeholder="Александр Иванов">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Электронный адрес</span>
          <input type="text" ng-model="contact.email" placeholder="alex@gmail.com">
        </label>

      </div>
    </form>
  </ion-content>
</ion-view>
