<ion-view>
  <ion-nav-title>
    Помощь на дороге
  </ion-nav-title>
  <ion-content>
    <ion-list class="list">
      <ion-item collection-repeat="number in appData.roadHelpData.phoneNumbers" ng-href="{{number.link}}" ng-class="zebraStripeLineItem($index)">
        <span class="vam">
          <svg class="{{number.style}}">
            <use xlink:href="{{number.icon}}"></use>
          </svg>
        </span>
        <span class="small vam">{{number.label}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <a href="#/app/city">
      <div class="title title-center">
        {{appData.title}}
      </div>
    </a>
  </ion-footer-bar>
</ion-view>
