<ion-view>
  <ion-nav-title>
    Помощь на дороге
  </ion-nav-title>
  <ion-content>
    <ion-list class="list">
      <ion-item ng-repeat="number in appData.roadHelpData.phoneNumbers" ng-href="{{number.link}}" ng-class="zebraStripeLineItem($index)">
        <svg class="icon-autoguru-flat-tire"><use xlink:href="svg/line-item-icons.svg#icon-autoguru-flat-tire-chopped"></use></svg>
        <span>{{number.label}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <a href="#/app/city">
      <div class="title title-center">
        {{appData.title}}
      </div>
    </a>
  </ion-footer-bar>
</ion-view>
