<ion-view view-title="{{appData.title}}">
  <ion-content>
    <ion-list>
      <ion-item ng-href="tel: {{18062822399}}">
        Прокол Колеса
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Доставка Бензина
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Эвакуатор/Буксировка
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Аккамулятор/Отогрев
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Вскрытие Замка
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Трезвый Водитель
      </ion-item>
      <ion-item ng-href="tel: {{18062822399}}">
        Другое
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
