<ion-view view-title="Настройки">
  <ion-content>
    <ion-toggle ng-model="setting1" toggle-class="toggle-calm">Настройкa 1</ion-toggle>
    <ion-toggle ng-model="setting2" toggle-class="toggle-calm">Настройкa 2</ion-toggle>
    <ion-toggle ng-model="setting3" toggle-class="toggle-calm">Настройкa 3</ion-toggle>
    <ion-toggle ng-model="setting4" toggle-class="toggle-calm">Настройкa 4</ion-toggle>
    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33" ng-model="range">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Lightsaber
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

    </div>
  </ion-content>
</ion-view>
