<ion-view view-title="Аварийные Комиссары">
  <ion-content>
    <div class="homeContainer"></div>
    <div class="row row-home" >
      <div class="col col-home center">
        <div>
          <a ng-href="tel: {{18062822399}}" class="button button-icon ion-ios-telephone call-icon"></a>
          <p class="home-icon-text" style="color: darkgreen;">Call</p>
        </div>
      </div>
    </div>
    <!--<div class="row row-home">
      <div class="col col-home center">
        <div>
          <a href="" class="button button-icon ion-paper-airplane home-icon" style="color: blue"></a>
          <p class="home-icon-text" style="color: blue">Order Online</p>
        </div>
      </div>
    </div>-->
    </div>
    </div>
  </ion-content>
</ion-view>
