<ion-view view-title="Автоинформатор">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/auto-info/service">
        Обслуживание
      </ion-item>
      <ion-item href="#/app/auto-info/service">
        Ремонт
      </ion-item>
      <ion-item href="#/app/auto-info/service">
        Диагностика
      </ion-item>
      <ion-item href="#/app/auto-info/service">
        Автозапчасти
      </ion-item>
      <ion-item href="#/app/auto-info/service">
        Аксессуары
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
