<ion-view>
  <ion-nav-title>
    Рекомендации по оформлению Европротокола
  </ion-nav-title>
  <ion-content>
    <div>
      <div id="useful-info-list">
        <ul>
          <li>Примите максимально возможные меры для сохранения следов и предметов на месте ДТП</li>
          <li>Если возникает конфликтная ситуация, то вызывайте ГИБДД</li>
          <li>Европротокол действителен, если у обоих участников ДТП нет ни каких разногласий для оформления ДТП таким образом</li>
          <li>Заполните бланк Извещения о ДТП, выданный страховой компании при оформлении договора ОСАГО</li>
          <li>Желательно, использовать шариковую ручку</li>
          <li>Оба водителя заполняют одно Извещение о ДТП</li>
          <li>Один водитель заполняет колонку «А»</li>
          <li>Другой водитель заполняет колонку «В»</li>
          <li>Заполняются как оборотная, так и лицевая стороны</li>
          <li>После заполнения лицевой стороны и разъединения бланка Извещения о ДТП, заполните оборотную сторону Извещения о ДТП, каждый водитель самостоятельно заполняет свой экземпляр</li>
          <li>Опишите ДТП по максимуму от первого лица, не оставляйте не заполненных граф, все пустые графы заполните прочерком. Исправления заверяются подписями обоих водителей</li>
          <li>При описании ДТП не должно быть противоречий и разногласий в указанных каждым водителем обстоятельствах</li>
          <li>С 1 января 2016 года необходимо фиксировать ускорение, торможение машины и боковые удары, а также передавать экстренным службам информацию о ДТП</li>
          <li>Тщательно зарисуйте схему ДТП, укажите место первоначального удара. Если есть возможность, то зафиксируйте данные свидетелей</li>
          <li>Ставьте подписи везде, где это необходимо. Оба водителя ставят по две пары росписей, одну под информацией, вторую под согласием. Оборотная сторона заверяется подписью водителя, которому принадлежит данный экземпляр</li>
        </ul>
      </div>
      <div class="useful-info-section-header">
        <p>
          На лицевой стороне Извещения о ДТП
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Должна быть информация о месте, дате, времени ДТП, сведения об участниках аварии, о свидетелях, о страховщиках, о характере и перечне видимых поврежденных деталей и элементов, обстоятельствах ДТП, необходимо заполнить все графы и поля, имеющиеся на лицевой стороне бланка Извещения о ДТП.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Укажите характер и перечень всех видимых повреждений деталей автомобиля. Описывайте их максимально точно и кратко. Следите, чтобы другой водитель не добавил в указанный пункт не относящиеся к данному ДТП повреждения деталей и элементов.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          При указании поврежденного элемента обязательно укажите характер видимого повреждения: царапина, вмятина если это деформация детали, разрыв если это трещина в детали. Невидимые, скрытые повреждения будут выявлены и описаны при осмотре автомобиля экспертами.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Проследите, чтобы другой водитель подписал оба листа Извещения о ДТП с лицевой стороны, а не только экземпляр, который остается у него. Обратите внимание, что на лицевой стороне Извещения о ДТП каждый участник должен поставить две подписи, в пункте 15 и 18.
        </p>
      </div>
      <div class="useful-info-section-header">
        <p>
          На оборотной стороне Извещения о ДТП
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Если не хватает места, изложите сведения на чистом листе бумаги и приложите его к Извещению о ДТП, на котором нужно сделать пометку «С приложением», а также укажите, к какому документу оно прилагается и кем оно составлено. На приложениях должны стоять подписи обоих водителей.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Если бланк Извещения о ДТП порван, испорчен или трудно читаем, нужно заполнить новый бланк. После подписания и разъединения бланков не допускается никаких изменений, исправлений или дополнений.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Если после подписания и разъединения бланков извещения о ДТП необходимо внести в документ корректировки или дополнения, они должны быть заверены подписями обоих участников ДТП.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Соберите контактные данные свидетелей ДТП, если это возможно. Обязательно сохраните запись системы видеорегистрации.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          После выполнения всех перечисленных выше действий, место ДТП можно покинуть. Если Вы намерены обратиться с заявлением о страховой выплате, то приложите к заявлению Ваш экземпляр Извещения о ДТП. Если Вы считаете, что оснований для возмещения нанесенного Вам вреда не имеется, то обязательно, в течение 5 рабочих дней с момента ДТП отправьте заполненное Извещение о ДТП своему страховщику.
        </p>
      </div>
      <div class="useful-info-section-header">
        <p>
          Схема оформления ДТП должна содержать
        </p>
      </div>
      <div id="useful-info-list">
        <ul>
          <li>Контуры проезжей части с указанием улиц и домов</li>
          <li>Дорожные знаки</li>
          <li>Полосы движения на дороге</li>
          <li>Направление потоков машин</li>
          <li>Дорожную разметку</li>
          <li>Указатели</li>
          <li>Светофоры</li>
          <li>Направление движения каждого ТС до столкновения</li>
          <li>Схематическое положение ТС после ДТП</li>
          <li>Марки ТС</li>
          <li>Номера ТС</li>
          <li>Предметы имеющие отношение к ДТП</li>
        </ul>
      </div>
      <div class="useful-info-section-header">
        <p>
          Фото или видеосъемка
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Съемка должна быть выполнена в течение 60 минут после ДТП. На фото или видео должны быть изображены:
        </p>
      </div>
      <div id="useful-info-list">
        <ul>
          <li>государственные регистрационные знаки ТС участников ДТП, в случае отсутствия государственных регистрационных знаков транспортных средств, должны быть запечатлены идентификационные номера VIN</li>
          <li>расположение транспортных средств участников ДТП с привязкой к объектам транспортной инфраструктуры, либо к другим неперемещаемым объектам</li>
          <li>места повреждения ТС</li>
          <li>при наличии свидетелей, государственные регистрационные знаки ТС свидетелей ДТП</li>
        </ul>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <a href="#/app/city">
      <div class="title">
        {{appData.title}}
      </div>
    </a>
  </ion-footer-bar>
</ion-view>
