<ion-view>
  <ion-nav-title>
    Подсказки, что делать если попал в аварию
  </ion-nav-title>
  <ion-content>
    <div>
      <div class="useful-info-section-header">
        <p>
          ПО ЗАКОНУ: оставление водителем места ДТП влечет лишение права управления ТС на срок от 1 года до 1,5 лет или административный арест на срок до 15 суток.
        </p>
      </div>
      <div id="useful-info-list">
        <ul>
          <li>Включить аварийную сигнализацию</li>
          <li>Установить знак аварийной остановки (Расстояние должно быть не менее 15 м от транспортного средства в населенных пунктах и 30 м — вне населенных пунктов)</li>
          <li>Убедиться, что с вами, а также пассажирами, всех машин, участвующих в аварии все в порядке. При необходимо немедленно вызвать «скорую помощь», по возможности оказать первую медицинскую помощь. При наличии пострадавших передвигать автомобили нельзя!</li>
          <li>Если пострадавших нет, то необходимо определиться с тем, насколько серьезно пострадали транспортные средства</li>
          <li>Если повреждения минимальны, то достаточно воспользоваться «Европротоколом», а также оформить бланк извещения о ДТП, на месте без вызова сотрудников ГИБДД</li>
          <li>Если авария достаточно серьезная, то необходимо позвонить в ГИБДД, с мобильного телефона можно по номеру 112</li>
          <li>Если нет пострадавших, то сотрудник полиции по телефону скажет вам, куда проехать для оформления ДТП</li>
          <li>Если оформление ДТП без участия сотрудников ГИБДД невозможно, то необходимо вызвать патрульную машину на место аварии</li>
          <li>Перед тем, как разъехаться необходимо произвести фото- или видеозапись места ДТП, знаков, наличие светофоров, объектов инфраструктуры, записать фамилии и номера телефонов очевидцев происшествия</li>
          <li>Позвоните в свою страховую компанию и сообщите о ДТП. Попросите страховую компанию вызвать аварийного комиссара, если подобная услуга предоставляется</li>
        </ul>
      </div>

      <div class="useful-info-section-header">
        <p>
          Вызов сотрудника ГИБДД
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Если обстоятельства ДТП понятны и не вызывают разногласий ни у одного из участников, то инспектор должен сразу выдать необходимый комплект документов:
        </p>
      </div>
      <div id="useful-info-list">
        <ul>
          <li>справка о ДТП форма № 154</li>
          <li>определение об отказе в возбуждении дела об административном правонарушении, если не было нарушения ПДД</li>
          <li>или постановление по делу об административном правонарушении, если было нарушение ПДД</li>
        </ul>
      </div>
      <div class="useful-info-section-text">
        <p>
          Если обстоятельства аварии не ясны, то водителям необходимо будет приехать в ГИБДД для «разбора» и там получить все необходимые документы. Справку о ДТП формы № 154 сотрудник ГИБДД в любом случае должен выдать во время оформления аварии.
          или постановление по делу об административном правонарушении, если было нарушение ПДД
        </p>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <a href="#/app/city">
      <div class="title">
        {{appData.title}}
      </div>
    </a>
  </ion-footer-bar>
</ion-view>
