<ion-view>
  <ion-nav-title>
    Оформление ДТП без вызова сотрудника ГИБДД
  </ion-nav-title>
  <ion-content>
    <div>
      <div class="useful-info-section-text">
        <p>
          Законодательство РФ позволяет оформлять аварии без вызова сотрудников ГИБДД на место происшествия. Но прежде чем воспользоваться "Европротоколом", нужно понять, что произошедшее ДТП соответствует всем, без исключения, пунктам, позволяющим воспользоваться данной опцией.
        </p>
      </div>
      <div class="useful-info-section-text">
        <p>
          Если не соблюдается хотя бы одно условие, то вам необходимо вызвать сотрудников ГИБДД на место происшествия:
        </p>
      </div>
      <div id="useful-info-list">
        <ul>
          <li>не причинен вред здоровью участников ДТП, включая пассажиров и пешеходов</li>
          <li>оба водителя имеют действующие полисы ОСАГО и вписаны в полис</li>
          <li>в ДТП участвовало два транспортных средства, при этом автомобиль с прицепом считается как два отдельных ТС и если в аварию попал такой автомобиль, то воспользоваться «Европротоколам» нельзя</li>
          <li>размер ущерба, причиненного пострадавшему автомобилю, не превышает 50 000 рублей для договоров, которые были оформлены после 2 августа 2014 года и 25 000 рублей для договоров, которые были оформлены до 2 августа 2014 года. При этом возможность получить в качестве компенсации 50 000 рублей будет лишь в том случае, если у обоих водителей договоры оформлены после 2 августа 2014 года. Этот пункт вызывает различные споры, ведь оценить сумму ремонта во многих случаях очень сложно</li>
          <li>все обстоятельства аварии, ее характер, перечень повреждений, степень вины не вызывают разногласий у участников аварии, если есть хоть какие-либо малейшие споры, то придется вызвать сотрудников ГИБДД. Отсутствие разногласий подтверждается подписями обоих участников ДТП в извещении о ДТП</li>
        </ul>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <a href="#/app/city">
      <div class="title">
        {{appData.title}}
      </div>
    </a>
  </ion-footer-bar>
</ion-view>
