[class^="icon-autoguru-"], [class*=" icon-autoguru-"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
.icon-autoguru-flat-tire {
	width: 1.083984375em;
  color: black;
}

.icon-autoguru-flat-tire-text {
	width: 0.70703125em;
  font-size: 20px;

}
