[class^="icon-autoguru-"], [class*=" icon-autoguru-"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
.icon-autoguru-flat-tire {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-gas-delivery {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-towing {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-battery {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-car-warmup {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-unlock-car {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-other {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-buksir {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-komissar {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-useful-info {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-sober-driver {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-taxi {
	width: 1.083984375em;
  color: black;
	font-size: 1.5em;
	margin-right: 10px;
}

.icon-autoguru-road-help {
	color: white;
}

.icon-autoguru-dtp {
	color: white;
	margin-top:-20px;
}

.icon-autoguru-dtp-2 {
	color: white;
}

.icon-autoguru-no-wheel {
	color: white;
}

.icon-autoguru-traffic {
	color: white;
}

.icon-autoguru-feedback {
	color: white;
}

.icon-autoguru-share {
	color: white;
}
