body {
    cursor: auto;
}
.scroll{
    height: 100% !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-direction: normal !important;
    -moz-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -moz-box-orient: vertical !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;

}

.row-home{
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 1 50% !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
}


.col-home{
    /*background-color:gray !important;*/
    border:thin solid black;
    text-align:center !important;
}

.homeContainer i{

}

.my-icon:before,
.my-icon{
    font-size:200px !important;
    display:flex !important;
    font-size-adjust: inherit;
}

.center{
    text-align:center;
}


